body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* NAVIGATION */
.navbar {
  margin-bottom: 0;
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, .25);
  border: 0;
}

.navbar .navbar-brand {
  font-family: "Exo2", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar .navbar-nav a {
  font-size: 20px;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFD700;
}

/* Containers */
.call-to-action-section {
  height: 100vh;
  background: url(../images/electrician-lamp-background.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  position: relative;
  /* padding-top: 250px; */
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.call-to-action-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.call-to-action-header {
  font-weight: bold;
  text-align: center;
  color: #fff;
}

/* Buttons */
.btn {
  margin: 5px 20px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.btn-secondary {
  background-color: #19985d;
}

.divider-yellow {
  width: 75%;
  border: 0;
  background-color: #ffe400;
  height: 3px !important;
  opacity: 1;
}

/* ABOUT US SECTION  */
.jumbotron {
  padding: 10rem 0 0 0;
  margin-bottom: 0;
  border-radius: 0;
}

.about-us-section {
  background-color: #fff;
  color: #000;
  display: flex;
  position: relative;
  /* padding-top: 250px; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-us-header {
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 30px 0 30px 0;
}

.divider-gold {
  width: 75%;
  border: 0;
  background-color: #FFD700;
  height: 3px !important;
  opacity: 1;
}

.divider-blue {
  width: 75%;
  border: 0;
  background-color: cornflowerblue;
  height: 3px !important;
  opacity: 1;
}

.lead {
  margin: 30px 0;
}

/* SERVICES SECTION  */
.services-section {
  background-color: #000;
  color: #fff;
  display: flex;
  position: relative;
  /* padding-top: 250px; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services-header {
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 30px 0 30px 0;
}

.testimonials-header {
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 30px 0 30px 0;
}

/* SOCIAL MEDIA ICONS */
.icon-styling-facebook {
  font-size: 1rem;
  color: #4267B2;
}

.icon-styling-twitter {
  font-size: 1rem;
  color: #1DA1F2;
}

.icon-styling-instagram {
  font-size: 1rem;
  color: #833AB4;
}

.icon-styling-linkedin {
  font-size: 1rem;
  color: #2867B2;
}

.icon-styling-github {
  font-size: 1rem;
  color: #4078c0;
}

.icon-styling-youtube {
  font-size: 1rem;
  color: #FF0000;
}

.icon-styling-rss {
  font-size: 1rem;
  color: #ee802f;
}
/* owl  */

.testimonial-h4 {
  text-align: center;
  padding-top: 10px;
}
