body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* NAVIGATION */
.navbar {
  margin-bottom: 0;
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, .25);
  border: 0;
}

.navbar .navbar-brand {
  font-family: "Exo2", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar .navbar-nav a {
  font-weight: 500;
  font-size: 20px;
}

/* NAVIGATION - SOCIAL MEDIA ICONS */
.icon-styling-facebook {
  font-size: 1rem;
  color: #4267B2;
}

.icon-styling-twitter {
  font-size: 1rem;
  color: #1DA1F2;
}

.icon-styling-instagram {
  font-size: 1rem;
  color: #833AB4;
}

.icon-styling-linkedin {
  font-size: 1rem;
  color: #2867B2;
}

.icon-styling-github {
  font-size: 1rem;
  color: #4078c0;
}

.icon-styling-youtube {
  font-size: 1rem;
  color: #FF0000;
}

.icon-styling-rss {
  font-size: 1rem;
  color: #ee802f;
}

/* Containers */
.call-to-action-section {
  height: 100vh;
  background: url('../images/electrician-lamp-background.jpg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-top: 250px;
}

.call-to-action-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.call-to-action-header {
  font-weight: bold;
  margin-top: 30px;
  color: white;
}

/* Buttons */
.btn {
  margin: 5px 20px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.btn-secondary {
  background-color: #19985d;
}

.section-divider {
  width: 75%;
  border: 0;
  background-color: #444;
}

.section-divider-yellow {
  background-color: #c39b22;
  height: 3px !important;
  opacity: 1;
}
